/* ----------------------------------------------------------------------------
* Structure
* ------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

//page size
.page-wrapper {
    width: 100%;
    height: 100%;
}

//navigation
.nav-wrapper {
    width: 100%;
    height: 10%;
    position: fixed;
    font-family: $font_main;
    font-size: 20px;
    color: $white;
    z-index: 10;

    .logo {
        width: 100px;
        height: 100%;
        position: relative;

        svg {
            
            width: 100%;
            height: 100%;
        }
    }

    .nav {
        position: absolute;
        top: 50px;
        left: 45%;
        transform: translate(-50%, 0%);
        text-align: center;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                a {
                    color: $white;
                    text-decoration: none;
                    font-size: 20px;
                    margin: 0 45px;
                    font-family: $font_main;
                }
            }
        }
    }

    .shop-controls {
        position: absolute;
        top: 55px;
        right: 0;
        transform: translate(0, -50%);
        text-align: center;

        .cl-1{
            stroke: $white;
        }
        .cl-2{
            fill: $white;
        }
        div {
            display: inline-block;
            margin: 0 15px;
        }

        .account {
            transform: translate(0, -25%);
        }

        .cart {
            .icon {
                margin: 0;

            }

            .count {
                margin-left: 5px;
                transform: translate(0, -25%);
            }
        }



    }

}

//front-page

.front-page {
    width: 100%;
    height: 100%;


    .home-section {
        width: 100%;
        height: 100vh; /* Fallback for browsers that do not support Custom Properties */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .front-image {
            width: 300px;
            height: 500px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            img {
                width: 100%;
                height: 100%;
            }
        }

        .title{
            width: 30%;
            font-family: $font_main;
            font-size: 70px;
            color:$white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 2;

            :nth-child(n){
                text-align: center;
            }
            :nth-child(1){
                text-align: left;
                transform: translate(-35%,0);
            }
            :nth-child(2){
                text-align: right;
                position: relative;
                &::after{
                    content: '';
                    width: 50%;
                    height: 3px;
                    display: block;
                    background: $white;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(-50%,0);
                }
            }
            :nth-child(3){
                transform: translate(-20%,0);
            }

        }

        .links{
            display: flex;
            font-family: $font_sec;
            color: $white;
            font-style: italic;
            position: absolute;
            bottom: 10%;
            left: 50%;
            font-size: 30px;
            transform: translate(-35%,0);
            :nth-child(n){
                margin: 0 150px; 
                display: inline-block;
            }
            :nth-child(1){
                &::after{
                    content: '';
                    width: 250px;
                    height: 3px;
                    background: $white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-70%,0);
                
                }
            }

        }
    }

    .about-section{
        width: 100%;
        height: 100vh;
        background: $white;

        .container{
            position: relative;
            width: 80%;
            height: 80%;
            top: 10%;
            left: 10%;
            .intro-title{
                width: 100%;
                padding-left: 35px;
                font-family: $font_sec;
                font-size: 20px;
            }
            .img-grid{
                width: 100%;
                height: 100%;
                text-align: center;
                display: flex;
                :nth-child(n){
                    display: inline-block;
                    flex: 33.33%;
                    padding: 35px;
                }
                :nth-child(1){
                    width: 350px;
                    height: 550px;
                
                }
                :nth-child(2){
                    width: 400px;
                    height: 600px;
                
                }
                :nth-child(3){
                    width: 350px;
                    height: 500px;
                
                }
            }

            .main-title{
                font-size: 80px;
                font-family: $font_main;
                color: $hPink;
                width: 530px;
                position: absolute;
                right: 5%;
                bottom: 5%;

                .link{
                    font-family: $font_sec;
                    font-style: italic;
                    text-decoration:underline;
                    color: $black;
                    font-size: 20px;
                    display:inline-block;
                    padding-left:75px ;
                }
            }
        }
    }
}
//front-page ends

//page style

//first section
.head-content{
    width: 100%;
    height: 100vh;
    display: flex;
    .left-side{
        width: 50%;
        height: 100%;
        :nth-child(1){
            width: 100%;
            height: 80%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .right-side{
        width: 50%;
        height: 100%;

        .double-img{
            width: 100%;
            height: 50vh;
            box-sizing: border-box;
            padding: 0 30px;
            position: relative;
            :nth-child(1){
                
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &::after{
                content: '';
                height: 100%;
                width: 20px;
                position: absolute;
                top: 0;
                left: 50%;
                background: $white;
            }
        }

        .action-section{
            width: 100%;
            height: 50%;
            text-align: center;
            padding: 10% 0;
            box-sizing: border-box;
            :nth-child(1){
                font-family: $font_sec;
                color: $black;
                font-size: 20px;
                padding: 10px 0;
            }
            :nth-child(2){
                font-family: $font_main;
                color: $black;
                font-size: 65px;
                padding: 20px 0;
            }
            .button{
                
                width: 100%;
                height: 80px;
                position: relative;
                
                span{
                    padding: 0;
                    width: 250px;
                    height: 80px;
                    background: $mPink;
                    position: absolute;
                    z-index: -1;
                }
                input[type=button]{
                    
                    width: 250px;
                    height: 80px;
                    border: none;
                    background: transparent;
                    font-family: $font_main;
                    color: $black;
                    font-size: 20px;
                }
            }
        }
    }
}

//secound section
.main-content{
    width: 100%;
    height: 100%;
    display: flex;
    background: $mPink;
    .left-side{
        width: 50%;
        height: 100vh;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        padding-top: 15vh;
        .title{
            font-family: $font_sec;
            font-size: 25px;
            color: $black;
            top: 15%;
            left: 50%;
            position: relative;
            box-sizing: border-box;
            transform: translate(-50%,-15%);
        }
        .content{
            width: 450px;
            font-family: $font_main;
            font-size: 50px;
            color: $black;
            top: 25%;
            left: 50%;
            position: relative;
            transform: translate(-50%,15%);
        }

        .img{
            position: absolute;
            bottom: 0;
            left: 15%;
            width: 90%;
            height: 350px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 2;
        }
    }

    .right-side{
        width: 50%;
        height: 100vh;
        text-align: center;
        position: relative;

        .img{
            width: 100%;
            height: 75%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .action-section{
            position: absolute;
            bottom: 3%;
            left: 50%;
            transform: translate(-50%,-10%);
            .hero{
                margin: 0 auto;
                width: 500px;
                font-family: $font_main;
                color: $spec;
                font-size: 80px;
                padding: 20px 0;
                box-sizing: border-box;
            }
            .button{
                
                width: 100%;
                height: 80px;
                position: relative;
                input[type=button]{
                    width: 250px;
                    height: 80px;
                    border: none;
                    background: $spec;
                    font-family: $font_main;
                    color: $black;
                    font-size: 20px;
                }
            }
        }
        
    }
}
