/* ----------------------------------------------------------------------------
* Variables
* ------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------
* Custom Website Fonts
* ------------------------------------------------------------------------- */

$font_main: 'Abril Fatface', cursive;
$font_sec: 'Raleway', sans-serif;


/* ----------------------------------------------------------------------------
* Custom Website Colors
* ------------------------------------------------------------------------- */
// Colors
$black:#212121;
$white:#FFFEFD;
$mPink:#F4C5C5;
$hPink:#F4C5C5;
$spec:#B47C68;